
#top {body
    background-color: rgb(163, 149, 94);
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    font-size: 72px;
    padding: 20px;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', sans-serif;
}

div{
    font-size: 20px;
}

button {
    border: 0;
    width:200px;
    color: rgb(0, 0, 0);
    background: rgb(89, 51, 157); 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
}

#listening-list{
    width: 20%;
}
.listen-button {
    width: 50%;
    padding: 15px;
}

.artist-names{
    width: 50%;
    padding: 15px;
    align-items: center;
    float: left;
}

#div-rank span {
    padding: 1%;
    height: center;
    width: center;
    display: inline-block;
    justify-content: center;
    font-size: 3vh;
    align-items: center;
    border-radius: 1em;
    border: 2px solid white;
    box-shadow: 3px 7px;
  }

  #div-rank {
    height: 15vh;
    background: rgba(138, 0, 0, 0.462);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
    padding-top: 3vh;
  }


